<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @stock.name %>
</p>

<p>
  <b>Company:</b>
  <%= @stock.company %>
</p>

<p>
  <b>Desc:</b>
  <%= @stock.desc %>
</p>


<%= link_to 'Edit', edit_stock_path(@stock) %> |
<%= link_to 'Back', stocks_path %>
